li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  border: 1px solid red;
  background-color: aqua;
}
.main{
  display: flex;
  align-items: flex-start;
  border: 1px solid blue;
}

.sidebar{
  width: 20%;
  height: 100vh;
  border: 1px solid red;
  background-color: aqua;
}
.form {
  padding: 10px;
  width: 200px;
  background-color: rgb(178, 240, 178);

}


.pt-card,
.queue,
.queue-pt,
.queue-item,
.payment-item{
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  gap: 15px;
  background-color: aquamarine;
  border-radius: 5px;
  border: 1px solid blue;
}
.room,
.pt-detail,
.pt-assign,
.modal-form{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid red;
}